<div class="row">
  <div class="col-12 col-md-6 p-2 .col-lg-4 col-xl-4" *ngFor="let artiste of artistes">
    <div class="card bg-dark text-white" >
      <img class="card-img" src="..\assets\photos 640x360\magritte_2.jpg" alt="Card image" />
      <div class="card-img-overlay d-flex flex-column justify-content-end" (click)="goToArtist(artiste.id)">
        <h5 class="card-title font-weight-bold text-shadow">
          {{ artiste.prenom | titlecase }}
          {{ artiste.nom | uppercase }}
        </h5>
        <p class="card-text text-shadow">
          {{artiste.bio}}<br>
         PINTEREST : {{artiste.pinterest}}<br>
         FACEBOOK :{{artiste.facebook}}<br>
         TWITTER : {{artiste.twitter}}
        </p>
        <p class="card-text font-italic text-shadow">
        </p>
      </div>
    </div>
  </div>
</div>
