<div class="container" >
  <img src="..\assets\photos 640x360\forest-1818690_1280.jpg" alt="Nature">
  <div class="centered">
  <h1>Nouvelles Oeuvres</h1>
  <p>Les animaux sauvages</p>
</div>
  <button class="btn" onclick="displayBest()">Explorez la nouvelle collection ></button>
</div>

<div class="containercard">
  <h1 class="hometitle">Photographies d'Art</h1>
<p class="homedesc" style="color:white" >Oeuvres en édition limitée et numérotée avec certificat d'authenticité</p>
  <div class="row align-items-center" >
  <div class="card" style="width: 18rem;" *ngFor='let photo of photos | slice:0:4;let i=index'  >
    <img class="card-img-top" src="{{photo.imgUrl}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">{{photo.artiste.nom}}</p>
      <h5 class="card-title">{{photo.title}}</h5>
      <p class="card-text">à partir de {{photo.prix}}€</p>
    </div>
  </div>
  <br><br><br>
<div class="container">
  <button class="btnexplore" style="color:black" >Explorez la collection </button>
  </div>
</div>
</div>
<br><br>
<div class="containerrow">
  <div class="row">

    <div class="col" style="background-color:grey;" ><p class="cat" style="color:white">Voyage Vivez vos Rêves</p><br>
      <button class="btn1"  >Découvrir la collection </button>
    </div>



    <div class="col" style="background-color:brown;"><p class="cat" style="color:white">Noir et Blanc Des Oeuvres Intemporelles</p><br>
      <button class="btn2" >Découvrir la collection </button>
    </div>

    <div class="w-100"></div>


    <div class="col"  style="background-color:darkgreen;"><p class="cat" style="color:white">Aurélien Vilette
      Edifices oubliés</p><br>
      <button class="btn3" >Découvrir l'artiste</button>
    </div>


    <div class="col" style="background-color:darkblue;"><p class="cat" style="color:white">Derniers exemplaires
      Ne passer pas à côté de votre oeuvre</p><br>
      <button class="btn4" >Découvrir les oeuvres</button>
  </div>

</div>
</div>
