<div class="container ">
  <div class="py-5 text-center">
    <h2>Connexion</h2>

    <div class="row">
      <div class="col"></div>
      <div class="col">
        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
          <label for="inputEmail" class="sr-only">Adresse email</label>
          <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Adresse email"
            required="" autofocus="">
          <label for="inputPassword" class="sr-only">Mot de passe</label>
          <input formControlName="password" type="password" id="inputPassword" class="form-control"
            placeholder="Mot de passe" required="">
          <div class="checkbox mb-3">
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>

</div>
